<ul>
    <li>Code a base for and then migrate my current four existing
        Dreamlands guides from the old carrd</li>
    <li>Set up the event archives index page</li>
    <li>Archive zone 1 of Return to Treatropolis event</li>
    <li>Archive zone 2 of Return to Treatropolis event</li>
    <li>Archive zone 3 of Return to Treatropolis event</li>
    <li>Create some public f2u profile codes for Stygians</li>
    <li>Set up Treat base gallery</li>
    <li>Set up credits page</li>
    <li>Stygian live code previewer...?</li>
</ul>