---
layout: layout.html
--- 

<div class="card p-3 mt-4 card-border">
    <h1 class="heading">The Crepuscular</h1>
    <div class="content">
        <p class="px-lg-3 mt-3 mt-lg-4">Welcome to <i>The Crepuscular</i>, an unofficial
            fansite for the closed species ARPG Stygian-Shade. This site exists to house
            some various guides to the Stygian ARPG, some helpful user tools, character
            profile codes, event archives, and more...! It also serves as a website to
            hold some of my own personal Stygian profiles and worldbuilding.</p>

        <p class="px-lg-3 mt-lg-2">This site is heavily under construction and is only
            being worked on as a fun side project, so please excuse the mess. If you
            happen to come across any bugs (including anything breaking on mobile) or
            inconsistencies, let me know in the guestbook and I'll check it out!</p>

        <div class="text-muted align-self-end mx-2" style="font-size: 75%;">- wyrmbloods (min)
        </div>
    </div>
</div>

<div class="card definition mt-4 p-3 mx-md-5">
    <h3>cre·pus·cu·lar</h3>
    <i class="ml-4">/krəˈpəskyələr/</i>
    <i>adjective</i>
    <p class="px-5">
        of, resembling, or relating to twilight.<br>
        [zoology] (of an animal) appearing or active in twilight.
    </p>
</div>

<div class="row no-gutters mt-4">
    <!-- NEWS BOX -->
    <div class="col-md-6 p-1">

        <div class="card card-border">
            <h2 class="heading">What's New</h2>

            <div class="newsBox">
                {% include 'news.html' %}
            </div>

        </div>
    </div>

    <!-- UPCOMING BOX -->
    <div class="col-md-6 p-1 mt-4 mt-md-0">

        <div class="card card-border">
            <h2 class="heading">On The Way</h2>

            <div class="newsBox">
                {% include 'todo.html' %}
            </div>

        </div>
    </div>
</div>